DJANGO_SECRET_KEY=schimba-ma-cu-o-valoare-lunga-si-aleatoare
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DATABASE_URL=

MEDIA_STORAGE_BACKEND=local
MEDIA_ROOT=
MEDIA_URL=/media/
MAX_IMAGE_UPLOAD_MB=20
MAX_VIDEO_UPLOAD_MB=1000
MAX_TOTAL_MEDIA_GB=20
MIN_FREE_DISK_GB=2
