DJANGO_SECRET_KEY=schimba-ma-cu-o-valoare-lunga-si-aleatoare
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=
DATABASE_URL=

R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=
R2_ENDPOINT_URL=
R2_PRESIGNED_URL_EXPIRATION=86400
MAX_IMAGE_UPLOAD_MB=20
MAX_VIDEO_UPLOAD_MB=1000
